.Settings_Nav_Container{
    display: flex;
    justify-content: center;
    height: 100vh;
    
}

.image{
    cursor: pointer;
}

.settingsUl > li{
    display: flex;
    justify-content: center;
}

.settingsUl > li > span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1vh;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    height: 5vh;
    cursor: pointer;
}

.selectedTab{
    color: #A005FF;
}
.notSelectedTab{
    color: black;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.settingsUl > li > span:hover{
    color: #A005FF;
}



.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
}


.disabled{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1vh;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    height: 5vh;
    color: rgb(170, 170, 170);
}

.disabled:hover{
    color: red;
}

.disabledTab{
    color: #a1a1a1;
}

.credits{
    color: #ce7fff;
}

.reportissue{
    color: rgba(255, 0, 0, 0.637);
}

.issueDialogForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.issueLab{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 15px 0;
}

.issueLabel{
    width: 100%;
    font-weight: 500;
    margin: 5px 0;
}

.issueInput{
    width: 100%;
    border: 1px solid rgb(184, 182, 182);
    padding: 10px 10px;
}

.submitIssue{
    cursor: pointer;
}

.currentLocationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.locationLabel{
    width: 100%;
    margin: 5px 0;
}
.currentLocation{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
    color: #888585;
    height: 40px;
    background-color: #ecebeb;
}