.GalleryCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 12px;
    width: 100%;
}

.thumbnail{
    width: 288px;
    height: 162px;
    border: 1px solid black;
}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 4px;
}
.dot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 4px; 
}
.role{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 4px; 
}

.suggest{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-right: 10px;
}

.suggestBTN{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 25px;
    margin-left: 5%;
    font-size: 12px;
    font-weight: 800;
}

.suggestInputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    border: 1px solid rgb(184, 181, 181);
    padding: 0 15px;
    margin-bottom: 20px;
}

.suggesthr{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 1px;
    background-color: black;
}

.suggestInput{
    width: 85%;
    height: 50px;
}

.suggestDetails{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: #A005FF;
}

.suggestDetails > p{
    color: #938989;
    margin-right: 10px;
}

@media screen and (max-width: 565px) {
   
    .role{
        display: none;
    }

    .dot{
        display: none; 
    }
}
