.gallery{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 100%;
    color: black;
    margin-bottom: 40px;

}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}

.labelContainer{
    display: none;
}
.label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    padding: 5px 15px;
    color: #6D6B6B;
    cursor: pointer;
}

.labelSecleted{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    cursor: pointer;
    color: white;
    margin: 0 15px;
    padding: 5px 15px;
    border-radius: 13PX;
}
.searchLabel{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 8px 15px;
    border-radius: 13PX;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
}

.paginationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.paginationContols{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #A79E;
    cursor: pointer;
}

.paginationContols:hover{
    color: black;
}

.paginationBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 7px;
    padding: 7px 15px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    font-weight: 650;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 30px;
    height: 30px;
    margin: 0 7px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    font-weight: 650;
}

.content{
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    align-items: start;
    gap: 10px;

}

.paginationInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
}

.paginationInfoCount{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    font-weight: 650;
}

.selector{
    display: flex;
    width: 100%;

}
.searchForm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
}
.searchInput{
    width: 100%;
}

.results{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 220px);
    align-items: start;
    height: 400px;
    gap: 5px;
    overflow: scroll;
}

.galleryHeaderContentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.results::-webkit-scrollbar{
    display: none;
}
@media screen and (min-width: 768px) {
    .labelContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    
    .selector{
        display: none;

    }
    .searchLabel{
        border-radius: 13PX;
        cursor: pointer;
    }

}


@media screen and (min-width: 1458px) {
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }
    .searchLabel{
        width: unset;
        margin-top: unset;
    }
}

@media screen and (min-width: 1145px) {

    .galleryHeaderContentContainer{
        width: unset;
    }

    .content {
        margin: 30px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
        grid-template-rows: repeat(3, 1fr);    /* 3 equal rows */
        align-items: start;
        gap: 5px;
    }
}




@media screen and (max-width: 566px) {
   
    .content{
        margin: 30px 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
        align-items: start;
        gap: 5px;
    
    }
}

