.influence{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    margin-right: 20vw;
    background-color: black;
    border-radius: 40px;
    color: white;
}

.pfp{
    margin-right: 5vw;
    box-shadow: rgba(54, 56, 56, 0.5) 0 2px 5px 0;
    margin-top: 10vh;
}

.pfp1{
    font-size: 10px;
    size: 10px;
}

.pfpGroup{
    margin-right: 10vw;
}

.pfpGroup1{
    margin-left: 10vw;
}