.Suggestions{
    display: flex;
    justify-content: center;    
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.details{
    display: flex;
    flex-direction: row;
}
.details > span:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    font-weight: 800;
}



.suggestion{
    display: flex;
    justify-content: centerw;
}

.deleteBTN{
    font-weight: 800;
    color: lightgray;
    cursor: pointer;
}