.dashboard_page_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.dashboard_content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: scroll;
}

.dashboard_content::-webkit-scrollbar{
    display: none;
}

.nav{
    display: none;
}


.suggest{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-right: 10px;
}

.suggestBTN{
    color: #A005FF;
    font-weight: 500;
    cursor: pointer;
    margin-right: 8px;
}



.likecount{
    margin-right: 4px;
}

.favoritesGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 8px 12px;
    flex-direction: row;
    border-radius: 12px;
    cursor: pointer;
}

.FavIcon{
    font-size: 12px;
}

.suggestInputContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.suggestInput{
    width: 100%;
}


.views{
    cursor: pointer;
}

.favorites > span{
    margin-right: 5px;
}
.views > span{
    margin-right: 10px;
}

.portfolioComments{
    display: flex;
    height: 20vh;
    width: 100%;
    flex-direction: column;
    overflow: scroll;
}

.portfolioComments::-webkit-scrollbar{
    display: none;
}

.loadmore{
    color: #A005FF;
}

.Hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 60%;
    font-size: 24px;
    margin: 30px 0;

}
.drawer{
    width: 200px;
}



.blackColor{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.purpleColor{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A005FF;
}

.twentyFour{
    padding: 0 10px;
    font-size: 24px;
}

.suggestDetails{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: #A005FF;
}

.suggestDetails > p{
    color: #938989;
    margin-right: 10px;
}
@media screen and (min-width: 1250px) {
    .dashboard_page_container{
        flex-direction: row;
    }
    .dashboard_content{
        width: 60%;
    }
    
    .nav{
        display: flex;
    }

    .Hamburger{
        display: none;
    }

    .Hamburger_Menu{
        border: 1px solid black;

    }

    
}


@media screen and (max-width: 370px) {
    .Hamburger{
        padding: 0 4px;
    }
    .Hamburger_Menu{
        padding: 0 2px;
    }
    .Hamburger_Menu > span{
        padding: 0 9px;
        font-size: 24px;
    }

}